.container {
  $primary:  #5B4B8A;
  $secondary: #73A9AD;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: $primary;

  > h2 {
    font-size: 4rem;

    margin-bottom: 1rem;
  }

  button {
    box-shadow: 0 0 0.5rem $secondary;
  }
}
