.container {
  $primary:  #5B4B8A;
  $secondary: #FFF;

  width: 100%;
  min-height: 100%;
  height: auto;
  max-height: max-content;

  background-color: $primary;

  > header {
    background-color: $secondary;

    > svg {
      fill: $primary;
      font-size: 2rem;

      cursor: pointer;
    }

    > ul {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        font-weight: bold;
        font-size: 1.05rem;

        color: $primary;
        padding: 0.5rem 1rem;

        cursor: pointer;

        border: 1px solid transparent;

        &:hover {
          border-top: 1px solid $primary;
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

  > h3 {
    font-size: 4rem;
    text-align: center;
    color: $secondary;
    margin: 2rem 0;
  }

  .hintsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;

    width: 100%;
  }

  padding-bottom: 1.5rem;
}