.container {
  $primary:  #5B4B8A;
  $secondary: #FFF;

  width: 100%;
  min-height: 100%;
  height: auto;
  max-height: max-content;

  background-color: $primary;

  > h3 {
    font-size: 4rem;
    text-align: center;
    color: $secondary;
    margin: 2rem 0;
  }

  .hintsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;

    width: 100%;
  }

  padding-bottom: 1.5rem;
}