.container {
  $primary: #5b4b8a;
  $secondary: #fff;

  width: 100%;
  height: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    > h1 {
      font-size: 4rem;

      margin-top: 0.8rem;
      margin-bottom: 2.5rem;
    }
  }
}
