.container {
  $primary:  #5B4B8A;
  $secondary: #FFF;
  
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  background-color: $primary;

  > svg {
    font-size: 4rem;
    fill: $secondary;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: $secondary;
    color: $primary;

    border-radius: 3px;
    padding: 1.25rem 1.5rem;

    > h2 {
      font-size: 2.5rem;
      margin: 1rem 0;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      > *:not(:last-child) {
        margin-right: 0.8rem;
      }

      > button {
        height: max-content;
        margin-top: 0.8rem;
        width: 16rem;
      }
    }

    .name, .username, .email, .password, .confirmPassword {
      display: flex;
      flex-direction: column;

      margin-bottom: 1rem;

      > label {
        margin-bottom: 0.5rem;
        font-size: 1.05rem;
      }

      > input {
        padding: 0.5rem 1rem;
        width: 16rem;

        border: 1px solid $primary;
        border-radius: 3px;
        
        &:focus {
          outline-color: $primary;
        }

        color: $primary;
      }
    }

    > .link {
      font-size: 1.05rem;
      text-align: center;

      > span {
        cursor: pointer;
        margin-left: 0.2rem;

        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
