.container {
  $primary: #5B4B8A;
  $secondary: #FFF;

  width: 100%;
  padding: 0 1.5rem;
  padding-bottom: 1rem;

  background-color: $primary;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > header {
    background-color: $secondary;
    width: calc(100% + 3rem);
    margin-bottom: 1.5rem;

    > svg {
      fill: $primary;
      font-size: 2rem;

      cursor: pointer;
    }

    > ul {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        font-weight: bold;
        font-size: 1.05rem;

        color: $primary;
        padding: 0.5rem 1rem;

        cursor: pointer;

        border: 1px solid transparent;

        &:hover {
          border-top: 1px solid $primary;
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

  > .plusIcon {
    border-radius: 50%;
    margin-bottom: 1.5rem;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > svg {
      fill: $secondary;
      color: $secondary;
      font-size: 2rem;

      cursor: pointer;
    }
  }

  > h2 {
    color: $secondary;
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }

  > .form {
    background-color: $secondary;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    margin-bottom: 1.5rem;

    border-radius: 3px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);

    > h3 {
      margin-bottom: 0.8rem;
    }

    label {
      color: $primary;
      margin-bottom: 0.2rem;
    }

    input {
      padding: 0.5rem 1rem;

      border: 1px solid $primary;
      border-radius: 3px;

      &:focus {
        outline-color: $primary;
      }

      color: $primary;
    }

    input, textarea {
      margin-bottom: 0.8rem;
    }

    > .book {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    > .author {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    > .review {
      display: flex;
      flex-direction: column;
      justify-content: center;

      textarea {
        padding: 0.5rem;

        border: 1px solid $primary;
        border-radius: 3px;

        &:focus {
          outline-color: $primary;
        }

        color: $primary;
      }
    }

    > button {
      width: max-content;
    }
  }

  .reviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}
