@import '../../../styles/variables/colors/index.scss';

.container {
  min-width: 6rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;

  &.white {
    color: $primary;
    background-color: $secondary;
    border-color: $primary;

    &:hover {
      color: $secondary;
      background-color: $primary;
      border: 1px solid $secondary;
    }
  }

  &.purple {
    color: $secondary;
    background-color: $primary;
    border-color: $secondary;

    &:hover {
      color: $primary;
      background-color: $secondary;
      border: 1px solid $primary;
    }
  }
}
