* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 1s linear 0s;
}

$primary:  #5B4B8A;
$secondary: #73A9AD;

html, body, #root {
  width: 100%;
  height: 100%;
}

h1 {
  color: $primary;
}

h2, h3, h4, h5, h6 {
  color: $secondary;
}
