@import './variables/colors/index.scss';

@font-face {
  font-family: 'elements';
  src: url(../../../assets/fonts/Rubik-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 300ms;
  font-family: 'elements', sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;

  background-color: $secondary;
  color: $primary;
}
