@import '../../../styles/variables/colors/index.scss';

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.3rem 1rem;

  background-color: $primary;
}
