.container {
  $primary:  #664986;
  $secondary: #c7b8d8;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin-bottom: 1.5rem;

  > .search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;

    > input {
      flex: 1 50%;

      border: 1px solid $primary;
      border-radius: 3px;

      margin-right: 1rem;
      padding: 1rem 1.5rem;

      &:focus {
        border: 0;
        outline-color: $primary;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}
