.container {
  $primary:  #84b082;
  $secondary: #885a5a;
  
  color: $primary;

  padding: 1rem 1.5rem;
  border: 0;

  border-radius: 3px;

  box-shadow: 0 0 0.5rem $primary;

  &:hover {
    opacity: 0.7;
    background-color: $secondary;
    box-shadow: 0 0 0;
  }

  cursor: pointer;
}
