.container {
  $primary:  #00684a;
  $secondary: #00a35c;
  
  color: #FFF;
  background-color: $primary;

  padding: 1rem 1.5rem;
  border: 0;

  border-radius: 3px;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);

  &:hover {
    opacity: 0.7;
   background-color: $secondary;
  }

  cursor: pointer;
}
