.container {
  $primary:  #5B4B8A;
  $secondary: #73A9AD;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;

  background-color: $primary;
}
