.container {
  $primary:  #5B4B8A;
  $secondary: #FFF;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: max-content;
  padding: 1.5rem;
  
  border: 1px solid $primary;
  border-radius: 3px;

  background-color: $secondary;

  > h3 {
    color: $primary;
    font-weight: bold;

    display: flex;
    align-items: center;

    > .date {
      color: $primary;
      margin-left: 0.5rem;
      font-weight: normal;
      opacity: 0.7;
    }
  }

  > h3, > h4 {
    color: $primary;
    margin-bottom: 0.5rem;
  }

  > h4 {
    color: $primary;
    font-weight: bold;
    opacity: 0.7;
  }
}
