.container {
  $primary:  #5B4B8A;
  $secondary: #FFF;
  
  width: 25rem;
  height: 20rem;

  background-color: $secondary;

  border-radius: 3px;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);

  padding: 0.8rem;

  &:hover {
    transform: scale(1.02);
  }

  > h3 {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
  }

  > p {
    text-align: justify;
  }

  .review {
    color: $primary;
    font-size: 1.05rem;

    &.hiddenText {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;

    }

    cursor: pointer;
  }
}
