.container {
  $primary: #5B4B8A;
  $secondary: #FFF;

  padding: 0.5rem;

  border: 1px solid $primary;
  border-radius: 3px;

  resize: none;

  &:focus {
    border: 1px solid transparent;
    outline-color: $primary;
  }

  color: $primary;
}