.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  > input {
    flex: 1;
    padding: 1.25rem;
  }

  > button {
    padding: 1.25rem;
  }
}
